<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Battlemaster</title>

<!-- Bootstrap -->
<script src="angular/angular.min.js"></script>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container-fluid" ng-app="battlemaster">

<div ng-controller="TopController as top">
  <div ng-show="top.screen == 'login'">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h2>Login</h2>
        <form ng-submit="top.doLogin()">
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput"
                   placeholder="l33t"
                   ng-model="top.loginName">
          </div>
          <div class="form-group">
            <label for="codeInput">Battle Code</label>
            <input type="text" class="form-control" id="codeInput"
                   placeholder="CODE or leave empty for new"
                   ng-model="top.loginCode">
          </div>
          <button ng-disabled="top.loggingIn" type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <div ng-show="top.screen == 'lobby'">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <h2>Waiting for other player</h2>
        <h1>Room code: {{ top.loginCode }}</h1>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

<div ng-show="top.screen == 'battle'" ng-controller="PlayerController as pc">
  <div class="row" >
    <div class="col-md-1">
      <img style="height:150px" class="img-circle" ng-src="{{ pc.players[0].img }}">
      {{ pc.players[0].name }} {{ pc.players[0].id }} Mana: {{ pc.players[0].mana }}
    </div>
    <div class="col-md-offset-3 col-md-1">
      Attack: <input class="form-control" ng-model="pc.summonParams.attack">
      Life: <input class="form-control" ng-model="pc.summonParams.life">
      Mana Cost: {{pc.manaCost()}}
      Command: <input class="form-control" ng-model="pc.summonParams.command">
      <button class="btn btn-default" ng-click="pc.summon()">Summon</button>
    </div>
    <div class="col-md-1">
      Game Phase: <b>{{ pc.gamePhase }}</b>
      <br/>
      Time Left: {{ pc.timeLeft }}
      <br/>
      <button class="btn btn-default" ng-click="pc.endPhase()">Done</button>
    </div>
    <div class="col-md-offset-3 col-md-1">
      <img style="height:150px" class="img-circle" ng-src="{{ pc.players[1].img }}">
      {{ pc.players[1].name }} {{ pc.players[1].id }} Mana: {{ pc.players[1].mana }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <div ng-repeat="creature in pc.players[0].creatures">
        <div class=" col-md-4">
          <img ng-src="{{ creature.img }}">
          {{ creature.attack }} / {{ creature.life }}({{ creature.id }}) - {{creature.command}}
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <div ng-repeat="creature in pc.players[1].creatures">
        <div class=" col-md-4">
          <img ng-src="{{ creature.img }}">
          {{ creature.attack }} / {{ creature.life }}({{ creature.id }}) - {{creature.command}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="jquery/jquery-1.11.2.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="ss.js"></script>
<script src="game.js"></script>
<script src="app.js"></script>
</body>
</html>
